<!DOCTYPE HTML>
<html>
<head>
    <title>Actor - Add</title>
</head>
<body>
<h1>Add New Actor</h1>
<form action="/actor/insert" method = "get">
    Actor Name (First/Last): <input name="actor_first_name" type="text" />
    <input name="actor_last_name" type="text" />

    <br />
    <input type="submit" />
</form>
</body>
</html>