<!DOCTYPE html>
<html>
  <head>
    <title>Movie Database</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <h1>Movie Database</h1>

    <a href="http://localhost:3000/movie/all">Movies</a>    (Movie names, ratings, date watched)<br /><br />
    <a href="http://localhost:3000/director/all">Directors</a>    (Directors first and last names)<br /><br />
    <a href="http://localhost:3000/actor/all">Actors</a>   (Actors first and last names)<br /><br />
    <a href="http://localhost:3000/genre/all">Genres</a>    (Genre names)<br /><br />
  </body>
</html>
