<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <h1>Movie Database</h1>

    <a href="/movie/movie_view_all">Movies</a><br />
    <a href="/director/director_view_all">Directors</a><br />
    <a href="/actor/actor_view_all">Actors</a><br />
    <a href="/genre/genre_view_all">Genres</a><br />
  </body>
</html>
