<!DOCTYPE html>
<html>
  <head>
    <title>Movie Database</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <h1>Movie Database</h1>

    <a href="http://localhost:3000/movie/all">Movies</a>    (Movie names, ratings, date watched)<br /><br />
    <a href="http://localhost:3000/director/all">Directors</a>    (Directors first and last names)<br /><br />
    <a href="http://localhost:3000/actor/all">Actors</a>   (Actors first and last names)<br /><br />
    <a href="http://localhost:3000/genre/all">Genres</a>    (Genre names)<br /><br />

    <h1>Queries</h1>
    <a href="http://localhost:3000/query/query1">Query 1 Subquery</a> <br />
    <a href="http://localhost:3000/query/query2">Query 2 JOIN</a> <br />
    <a href="http://localhost:3000/query/query3">Query 3 IN</a> <br />
    <a href="http://localhost:3000/query/query4">Query 4 EXISTS</a> <br />
    <a href="http://localhost:3000/query/query5">Query 5 Comparison</a> <br />
    <a href="http://localhost:3000/query/query6">Query 6 GROUP BY</a> <br />
    <a href="http://localhost:3000/query/query7">Query 7 JOIN, GROUP BY, HAVING</a> <br />
    <a href="http://localhost:3000/query/query8">Query 8 ORDER BY</a> <br />
    <a href="http://localhost:3000/query/query9">Query 9 UNION</a> <br />
    <a href="http://localhost:3000/query/query10">Query 10 DISTINCT</a> <br />


  </body>
</html>
