<!DOCTYPE HTML>
<html>
<head>
    <title>Director - Add</title>
</head>
<body>
<h1>Add New Director</h1>
<form action="/director/insert" method = "get">
    Director Name (First/Last): <input name="director_first_name" type="text" />
    <input name="director_last_name" type="text" />

    <br />
    <input type="submit" />
</form>
</body>
</html>