<!DOCTYPE HTML>
<html>
<head>
    <title>Director - Update</title>
</head>
<body>
<h1>Update Director</h1>
<form action="/director/insert" method = "get">
    Director Name (First/Last):
    <input name="director_first_name" type="text" value="<%= director.director_first_name%>"/>
    <input name="director_last_name" type="text" value="<%= director.director_last_name%>" />

    <br />
    <input type="submit" />
</form>
</body>
</html>