<!DOCTYPE HTML>
<html>
<head>
    <title>Genre - Add</title>
</head>
<body>
<h1>Add New Genre</h1>
<form action="/genre/insert" method = "get">
    Genre Name: <input name="genre_name" type="text" />

    <br />
    <input type="submit" />
</form>
</body>
</html>